<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.yuxin.mvc.controller.SimpleExceptionHandle"/>

    <!--配置Handler控制器-->
    <bean id="yuxin"  class="com.yuxin.mvc.controller.BeanNameController"/>
    <!--配置映射器-->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="urlMap">
            <props>
                <prop key="/yuxin.get">yuxin</prop>
            </props>
        </property>
        <property name="interceptors">
            <bean class="com.yuxin.mvc.controller.YuxinInterceptor"/>
        </property>
    </bean>
    <!-- 适配器-->
    <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>
    <!--配置视图解析器-->
        <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="prefix" value="/WEB-INF/page/"/>
            <property name="suffix" value=".jsp"/>
            <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        </bean>
     <!--异常处理-->
    <bean class="com.yuxin.mvc.controller.SimpleExceptionHandle"/>
</beans>